@font-face {
    font-family: Poppins;
    src: url(assets/fonts/Poppins-Regular.ttf);
  }
  @font-face {
    font-family: Poppins-Bold;
    src: url(assets/fonts/Poppins-Bold.ttf);
  }
body{
    margin: 0;
    font-family: Poppins;
    font-size: 1.1em;
}
.section{
    margin:0px 15%;
}
.txt-gray{
    color:#686B8D;
}
.bold{
    font-family: Poppins-Bold;
}
.title{
    font-size: 1.9em;
    margin:.5em;
}
.center{
    margin: auto;
}
.row{
    display: flex;
    flex-direction:row;
    flex-shrink:0;
    /* box-sizing: border-box; */
}
.column{
    display:flex;
    flex-direction:column ;
}
/*Header*/
.Header-bg {
    background-color:#6776FF;
    width: 100%;
    margin:0px;
    border-radius: 0px 0px 0px 400px;
    height: 100%;
    color:#fff;
}
.Nav {
    margin:0px 15%;
    padding-bottom: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-shrink:0; */
}
.Nav-bar .Nav-item{
    color: #fff;
    background-color: transparent;
    border: none;
}
.Nav-title{
    font-weight: bold;
    font-size: 2em;
}
.Request-Btn{
    background-color:#fff;
    color:#6776FF;
    border-radius: 5px;
    border:none;
}
.Header-main{
    margin:0px 15%;
}
.Header-shape-container {
    display:block;
    width:100%;
}
/*main*/
.item-logo{
    width:7em;
    /* height:40%; */
    border-radius: 50%;
    display:inline-block;
    /* margin: 0px 5px 5px 5px; */
    margin:0 .4em;
}
.cources-row{
    justify-content: space-between;
}
.course-container{
    border-radius: 50px;
    border:5px solid rgb(172, 172, 212);
    height: 100%;
    padding: .2em .2em 2em .2em;
    margin:.2em;
    box-sizing: border-box;
    /* border-image:   */
    /* linear-gradient(100% 100% at 0% 0%, #6776FF 0%, */
     /* rgba(255, 255, 255, 0) 68.57%, */
      /* rgba(255, 255, 255, 0) 100%); */
}
.course-img{
    border-radius: 45px;
    border:5px;
    margin-bottom: 1em;
    width: 100%;
    height:auto;
}
.course-tag{
    background: #EAEDFF;
    color:#6776FF;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
}
.course-rate{
    background: #6776FF;
    border-radius: 15px;
    padding: 5px 10px;
    width: 10%;
    justify-content: space-between;
}
.course-info{
    justify-content: space-between;
}
.course-play{
    justify-content: space-between;
    margin-top: .8em;
}
/*Footer*/
.footer{
    color: #fff;
    width: 100%;
}
.footer-bg{
    background-color:#0B033C;
    border-radius: 500px 0px 0px 0px;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    padding-top: 10em;
    padding-bottom: 7em;
    padding-left: 7em;
    /* transform: rotate(-13deg); */
}
.footer-info{
    /* flex-grow: 1; */
    flex-shrink: 1;
    flex-basis: 0
        /* flex-basis: 100%; */
}
/* .footer-list{
    display:flex;
    flex-direction: column;
} */
.social-logo{
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
/* .Header-shape{

    border-top-left-radius: 55px;
    border-top-right-radius: 55px;
}
.Header-shape-level-1{
    background-color:#fff;
    border:none;
    width:100px;
    height:110px;
} */