/*    Grid   */
.grid-container {
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
  overflow: hidden;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 20px 100px 20px;
  width: 100%;
  height: 100%;
  min-height: 650px;
  justify-content: space-between;
  align-items: center;
}
.grid-item:first-child {
  min-height: 980px;
}
.section-img {
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
}
/* Section 1 */
#section-1 > .image-container {
  background-image: url(../images/main/section-2/bg-blue.svg);
  background-position: 40% 45%;
  background-repeat: no-repeat;
  background-size: 65%;
  position: relative;
  width: 100%;
  height: 100%;
  content: normal;
  display: table;
  left: 0px;
  overflow: auto;
}
#section-1 #img-1 {
  /* position: absolute; */
  width: 170px;
  height: 226px;
  /* left: 315px; */
  /* top: 1344px; */
  background: #274966;
  border-radius: 190px 0px 0px 0px;
  background-image: url(../images/main/section-2/pngaaadark-blue.png);
  background-position: 0px 30px;
  background-repeat: no-repeat;
  /* background-size: contain; */
  content: "";
}
#section-1 #img-2 {
  width: 400px;
  height: 248px;
  left: 220px;
  top: 125px;
  /* background: linear-gradient(82.05deg, #5B3C83 2.97%, #C2A9E2 84.86%); */
  border-radius: 0px 190px 0px 0px;
  background-image: url(../images/main/section-2/img-purple.png),
    url(../images/main/section-2/purple.svg);
  background-position: 20%, 0px 0px;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}
#section-1 #img-3 {
  width: 190px;
  height: 301px;
  left: 0px;
  top: 260px;
  background-image: url(../images/main/section-2/pngaaa-gray.png),
    url(../images/main/section-2/6bg-gray.svg);
  background-position: 35% 55%, 0px 0px;
  background-repeat: no-repeat;
  content: "";
}
#section-1 #img-4 {
  width: 190px;
  height: 190px;
  left: 210px;
  top: 400px;
  background: #f1cda9;
  border-radius: 95px;
  background-image: url(../images/main/section-2/pngaaapink.png);
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: contain; */
  content: "";
}
#section-1 #img-5 {
  width: 190px;
  height: 301px;
  left: 430px;
  top: 425px;
  background: #4bbaff;
  border-radius: 0px 0px 190px 0px;
  background-image: url(../images/main/section-2/pngaaalight-blue.png);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  content: "";
}
#section-1 #img-6 {
  width: 409px;
  height: 248px;
  left: 0px;
  top: 610px;
  background: #feb825;
  border-radius: 0px 0px 0px 190px;
  background-image: url(../images/main/section-2/pngaaayellow.png);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  content: "";
}
#section-1 .section-title h1 {
  font-family: Gilory;
  font-weight: bold;
  font-size: 2em;
  font-stretch: condensed;
}
.item-logo {
  width: 90px;
  display: inline-block;
  margin-right: 2px;
  background-repeat: no-repeat;
  background-size: 90% 50%, 100% 100%;
  padding-right: 35px;
  background-position: center;
}
#section-1 #icon-1 {
  background-image: url(../images/main/section1/medalicons-1.svg),
    url(../images/main/section1/icon-1-bg.svg);
}
#section-1 #icon-2 {
  background-image: url(../images/main/section1/icon-2.svg),
    url(../images/main/section1/icon-2-bg.svg);
}
#section-1 #icon-3 {
  background-image: url(../images/main/section1/searchicon-3.svg),
    url(../images/main/section1/icon-3-bg.svg);
}
#section-1 div:last-child .column {
  justify-content: space-between;
  display: inline-flex;
  padding-left: 20px;
}
#section-1 div:last-child .column .item {
  padding: 5% 0px;
}
#section-1 p {
  font-size: 16px;
}
#section-1 .row {
  justify-content: space-between;
}
/* .img{ 
    width: 100%;
     height: 300px; 
    object-fit: cover;
    object-position: bottom;
}  */

/* Sectoion 2 */
#section-2 h1 {
  font-family: Gilory;
  font-size: 50px;
  font-weight: 800;
  line-height: 61px;
  letter-spacing: 0em;
  margin-bottom: 5%;
  text-align: center;
}
#section-2 p {
  color: #686b8d;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 0% auto;
  width: 60%;
  margin-bottom: 5%;
}
#section-2 > .row {
  justify-content: space-between;
}
#section-2 > .row > .cart {
  border-radius: 50px;
  border: 5px solid rgb(172, 172, 212);
  height: 100%;
  padding: 0.2em 0.2em 0.2em 0.2em;
  margin: 0.4em;
  box-sizing: border-box;
  /* border-image:   */
  /* linear-gradient(100% 100% at 0% 0%, #6776FF 0%, */
  /* rgba(255, 255, 255, 0) 68.57%, */
  /* rgba(255, 255, 255, 0) 100%); */
}
#section-2 > .row > .cart .cart-img {
  border-radius: 45px;
  border: 5px;
  width: 100%;
  height: auto;
  max-width: 100%;
}
#section-2 > .row > .cart > .cart-info {
  margin: 3% 8%;
  justify-content: space-between;
}
#section-2 > .row > .cart > .cart-info span:first-child {
  justify-content: space-between;
}
#section-2 > .row > .cart > .cart-info .cart-tag {
  background: #eaedff;
  color: #6776ff;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
}
#section-2 > .row > .cart > .cart-info .cart-rate {
  color: #fff;
  background: #6776ff;
  border-radius: 25px;
  padding: 5px 10px;
  width: fit-content;
  justify-content: space-between;
}
#section-2 > .row > .cart > .cart-info .cart-rate > * {
  margin: 0px 5px;
}
#section-2 > .row > .cart > .cart-info > span:nth-child(2) {
  font-weight: 600;
  /* font-size: 1em; */
  line-height: 30px;
  margin-top: 20px;
}
#section-2 > .row > .cart > .cart-info span:nth-child(3) {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  justify-content: space-between;
  margin-top: 0.8em;
  color: #686b8d;
}
#section-2 > .row > .cart > .cart-info span:nth-child(3) span > * {
  margin: 0px 5px;
  vertical-align: middle;
}
/* Section 3 */
#apply-info {
  width: 40%;
  align-self: center;
  margin-right: 3%;
}
#apply-info h1 {
  font-weight: 800;
}
#apply-info a {
  padding: 1em;
  width: 250px;
  height: 100%;
  background: #ffffff;
  border: 1px solid #6776ff;
  box-sizing: border-box;
  border-radius: 15px;
  color: #000;
}
#apply-info a:hover {
  background: #6776ff;
  color: #fff;
  border: 1px solid #fff;
}
#apply-info div:first-child {
  padding-bottom: 1em;
}
#apply-info p {
  padding-bottom: 3em;
}
#sec3-img {
  /* position: absolute; */
  /* right:0%; */
  background-color: #6776ff;
  background-image: url(../images/main/sec3-yello.svg);
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: 90%;
  border-radius: 320px;
  background-position: 190% -10%;
  overflow: hidden;
}
#sec3-img img {
  /* position:relative; */
  /* width: 100%; */
  text-align: center;
  top: 120%;
  /* background-image: url(../images/main/sec3-yello.svg);
  background-repeat: no-repeat;
  background-clip: border-box; */
}

/* Section 4 */
#section-4 {
  background: #eaedff;
  border-radius: 120px;
  padding: 5% 7%;
  text-align: center;
}
#section-4 h1 {
  font-family: Gilory;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 61px;
  letter-spacing: 0em;
  margin-bottom: 2%;
}
#section-4 p {
  color: #686b8d;
  margin: 0% 22%;
  margin-bottom: 5%;
}
#section-4 .grid-container {
  grid-template-columns: auto auto auto;
  margin: 0px;
  row-gap: 2%;
  column-gap: 2%;
}
#section-4 .grid-item {
  padding: 40px 20px 0px 20px;
  /* width: fit-content; */
  height: auto;
  min-height: 100% !important;
  background: #ffffff;
  border-radius: 50px;
}
/* #section-4 .grid-item:hover{
  border:2px solid #b8b8b8;
  margin:0px;
} */
#section-4 .grid-item a {
  color: #fff;
  background: rgba(108, 99, 255, 0.8);
  border-radius: 10px;
  padding: 10px 15px;
  margin-bottom: 30px;
  margin-top: 30px;
  /* height:fit-content; */
  /* min-height: 10s0%; */
  display: inline-block;
}
/* #section-4 .grid-item a:hover {
  background: #fff;
  color: rgba(108, 99, 255, 0.8);
  border: 3px solid rgba(108, 99, 255, 0.8);
} */
#section-4 .grid-item img {
  width: 90%;
  width: 209px;
  height: 155px;
  /* margin-bottom: calc(100% - 30px); */
}
#section-4 .grid-item h2 {
  font-family: Gilory;
  font-weight: 800;

  margin-top: 5%;
  /* margin-bottom: 15%; */
}
/* Section 5 */
#section-5 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 10%;
}
#section-5 h1 {
  font-family: Gilory;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 61px;
  letter-spacing: 0em;
  margin-bottom: 30px;
}
#section-5 > div:first-of-type > p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #686b8d;
  margin: 0% 22%;
  margin-bottom: 5%;
}
#section-5 .row {
  height: fit-content;
  /* min-height: 100%; */
  min-width: 100%;
  justify-content: space-between;
  flex-shrink: 0;
}
#section-5 .row > div {
  /* overflow: hidden; */
  min-height: 100%;
  /* height: 100%; */
}
/* #section-5 .row> div:first-child{
   text-align: left;
 }
 #section-5 .row> div:last-child{
   text-align:right;
 } */
#section-5 .row > div:first-child,
#section-5 .row > div:last-child {
  /* position: relative; */
  width: 45%;
  text-align: left;
  justify-content: space-between;
}
/* #section-5 .row > div:first-child>div,
#section-5 .row > div:last-child>div {
  position: relative;
} */
#section-5 .row > div:first-child > div > *,
#section-5 .row > div:last-child > div > * {
  /* position: absolute; */
  padding-bottom: 20px;
  display: block;
  /* width: 100%; */
}
#section-5 .row > div:first-child > div:nth-child(1) > img {
  /* left: 25%;
  top: 0px; */
  margin: auto 30%;
}
#section-5 .row > div:first-child > div:nth-child(2) > img {
  /* left: 0%;
  top: 35%; */
  margin: auto 0%;
}
#section-5 .row > div:first-child > div:nth-child(3) > img {
  /* left: 30%;
  top: 50%; */
  margin: auto 40%;
}
#section-5 .row > div:last-child > div:nth-child(1) > img {
  /* left: 20%;
  top: 0px; */
  margin: auto 25%;
}
#section-5 .row > div:last-child > div:nth-child(2) > img {
  /* left: 60%;
  top: 35%; */
  margin: auto 70%;
}
#section-5 .row > div:last-child > div:nth-child(3) > img {
  /* left: 30%;
  top: 50%; */
  margin: auto 35%;
}
/** middle div **/
#section-5 .row > div:nth-child(2) {
  background: #ffffff;
  box-shadow: 0px 10px 50px rgba(103, 118, 255, 0.1);
  border-radius: 100px;
  border: double 4px transparent;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, rgb(255, 255, 255), #3020ff);
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-size: cover;
  height: fit-content;
}
#section-5 .row > div:nth-child(2) > p {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  color: #aaacc6;
  margin-bottom: 30px;
  margin-top: 8%;
  margin-left: 8%;
  margin-right: 8%;
  text-align: center;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  /* white-space: pre-wrap;  */
}
#section-5 .row > div:nth-child(2) > div {
  margin: 20px auto;
}
#section-5 .row > div:nth-child(2) h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 0%;
  letter-spacing: 0.05em;
  color: #000000;
  padding-top: 20px;
  padding-bottom: 20px;
}
#section-5 .row > div:nth-child(2) span {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #aaacc6;
  padding-top: 20px;
  padding-bottom: 20px;
}
