@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins-Bold;
  src: url(../fonts//Poppins-Bold.ttf);
}
@font-face {
  font-family: Poppins-Thin;
  src: url(../fonts/Poppins-Thin.ttf);
}
@font-face {
  font-family: Gilory;
  src: url(../fonts/gilroy/Gilroy-Medium.ttf);
}

/*general selectors*/
* {
  font-family: Poppins;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
  font-family: Poppins-Bold;
  font-size: 1.1em;
}
.section {
  margin: 0px 15%;
  z-index: 10;
  /* position: absolute; */
}
.txt-gray {
  color: #686b8d;
}
.bold {
  font-family: Poppins-Bold;
}
.title {
  font-family: Poppins-Bold;
  font-size: 1.3em;
  /* margin:.5em; */
}
.center {
  margin: auto;
}
.row {
  display: flex;
  flex-direction: row;
  /* flex-shrink:0; */
  /* box-sizing: border-box; */
}
.column {
  display: flex;
  flex-direction: column;
}
.request-btn {
  background-color: #fff;
  color: #6776ff;
  border-radius: 20px;
  border: none;
  box-sizing: border-box;
  /* width: 221px; */
  /* height: 70px; */
  text-align: center;
  vertical-align:middle;
  padding:20px 30px;
}
.request-btn:hover {
  background: #6776ff;
  color: #fff;
  border: 1px solid #fff;
}